.react-datepicker {
  font-size: 14px;
  width: 100%;
  border: none;
}

.react-datepicker__current-month {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #7d8bdb;
}

.react-datepicker__day-name {
  color: #7d8bdb !important;
}

.react-datepicker__day {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #353841;
}

.react-datepicker__day--outside-month {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #dcdce8;
}

.react-datepicker__header {
  padding-top: 6px !important;
  background-color: #ffffff;
  border: none;
}

.react-datepicker__navigation {
  top: 13px !important;
  height: 12px;
  width: 10px;
}

.react-datepicker__navigation-icon {
  font-size: 20px;
}

.react-datepicker__day--selected {
  background-color: #7d8bdb;
}
.saturday {
  color: rgb(0, 0, 255) !important;
}
.sunday {
  color: rgb(255, 0, 0) !important;
}
.react-datepicker__day--disabled {
  color: #cccccc !important;
}
